<html layout:decorate="~{myPage/doctor/sampleLayout}">
<div class="container" layout:fragment="content">
    <nav class="navbar">
        <a href="/usr/mypage/doctor">뒤로</a>
    </nav>
    <h2 class="p-4">
        아직 근무하는 병원이 등록되지 않았습니다.
    </h2>
    <nav>
        <a class="btn btn-primary" href="/usr/mypage/doctor/hospital-info-manage/create"
           >병원 생성</a>
        <a class="btn btn-primary" href="/usr/mypage/doctor/hospital-info-manage/select"
           >병원 선택</a>
    </nav>
</div>
</html>