<html layout:decorate="~{global/layout}">
<div class="container my-5" layout:fragment="content">
<h2 class="p-4">
    my page doctor
</h2>
    <ul class="list-group">
        <a class="list-group-item list-group-item-action" th:href="@{/usr/doctor/mypage/appointments}">환자 관리</a>
        <a class="list-group-item list-group-item-action" th:href="@{/usr/doctor/mypage/hospital}">병원 관리</a>
        <a class="list-group-item list-group-item-action" th:href="@{/usr/doctor/mypage/info}">내정보</a>
    </ul>
</div>
</html>