<html layout:decorate="~{myPage/doctor/sampleLayout}">
<div layout:fragment="content">
<nav>
    <a th:href="@{|/usr/mypage/doctor/${doctorId}/info|}"
       th:text="돌아가기"></a>
</nav>
<div>
    <form th:action="@{|/usr/mypage/doctor/${doctorId}/info/modify|}"
          th:object="${requestDto}" method="post">
        <div th:replace="myPage/doctor/sample-form-errors :: formErrorsFragment"></div>
        <table>
            <tbody>
            <tr>
                <input type="hidden" th:field="*{id}">
                <th>이메일</th>
                <td>
                    <input type="text" th:name="loginEmail"
                           th:field="*{loginEmail}" />
                </td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td>
                    <input type="password" th:name="loginPwd" disabled/>
                </td>
            </tr>
            <tr>
                <th>이름</th>
                <td>
                    <input type="text" th:name="name"
                           th:field="*{name}" />
                </td>
            </tr>
            <tr>
                <th>생년월일</th>
                <td>
                    <input type="date" th:name="birthday"
                           th:field="*{birthday}" />
                </td>
            </tr>
            <tr>
                <th>전공</th>
                <td>
                    <input type="text" th:name="major"
                           th:field="*{major}" />
                </td>
            </tr>
            <tr>
                <th>핸드폰 번호</th>
                <td>
                    <input type="text" th:name="phoneNum"
                           th:field="*{phoneNum}" />
                </td>
            </tr>
            <tr>
                <th>자기 소개</th>
                <td>
            <textarea th:name="introduce" id="" cols="30" rows="10"
                      th:field="*{introduce}">
            </textarea>
                </td>
            </tr>
            <tr>
                <th>성별</th>
                <td>
                    <label>
                        여: <input type="radio" th:field="*{genderId}" th:value="0">
                    </label>
                    <label>
                        남: <input type="radio" th:field="*{genderId}" th:value="1">
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="수정 완료">
    </form>
</div>
</div>
</html>