<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">
<div>
    <a th:href="@{|/usr/mypage/doctor/${doctorId}/info|}"
       th:text="돌아가기"></a>
</div>
<div>
    <form th:action="@{|/usr/mypage/doctor/${doctorId}/info/modify/password|}"
          th:object="${requestDto}" method="post">
        <div role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        <table>
            <thead>
            <tr>
                <th>기존 비밀번호</th>
                <td>
                    <input type="password" th:field="*{beforePassword}" />
<!--                    <small th:if="${#fields.hasErrors('beforePassword')}" th:errors="*{beforePassword}">before Password Confirm Error</small>-->
                </td>
            </tr>
            <tr>
                <th>새 비밀번호</th>
                <td>
                    <input type="password" th:field="*{newPassword}"/>
<!--                    <small th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">New Password Confirm Error</small>-->
                </td>
                <th>새 비밀번호 재입력</th>
                <td>
                    <input type="password" th:field="*{newPasswordConfirm}"/>

                </td>
            </tr>
        </table>
        <input type="submit" value="수정 완료">
    </form>
</div>
</html>