<div>
    <a th:href="@{|/usr/mypage/doctor/${doctor.getId()}/info|}"
       th:text="돌아가기"></a>
</div>
<div>
    <form th:action="@{|/usr/mypage/doctor/${doctor.getId()}/info/modify/password|}"
          th:object="${password}"method="post">
        <table>
            <thead>
            <tr>
                <th>기존 비밀번호</th>
                <td>
                    <input type="password" th:field="*{beforePassword}" />
                </td>
            </tr>
            <tr>
                <th>새 비밀번호</th>
                <td>
                    <input type="password" th:field="*{newPassword}"/>
                </td>
                <th>새 비밀번호 재입력</th>
                <td>
                    <input type="password" th:field="*{newPasswordConfirm}"/>
                </td>
            </tr>
        </table>
        <input type="submit" value="수정 완료">
    </form>
</div>
