<html layout:decorate="~{myPage/doctor/sampleLayout}">
<div class="container" layout:fragment="content">
    <nav class="navbar">
        <a href="/usr/mypage/doctor">뒤로</a>
    </nav>
    <h2 class="p-4">
        내 정보
    </h2>
    <nav class="navbar">
        <a class="btn btn-primary"
           href="/usr/mypage/doctor/info/modify"
           th:text="수정"></a>
    </nav>
    <table class="table">
        <tbody>
        <tr>
            <th>이메일</th>
            <td th:text="${doctor.getLoginEmail()}"></td>
        </tr>
        <tr>
            <th>비밀번호</th>
            <td>
                <a class="btn btn-primary" th:href="@{|/usr/mypage/doctor/${doctor.getId()}/info/modify/password|}">비밀번호 수정
                </a>
            </td>
        </tr>
        <tr>
            <th class="col-2">이름</th>
            <td th:text="${doctor.getName()}"></td>
        </tr>
        <tr>
            <th>생년월일</th>
            <td th:text="${doctor.getBirthday()}"></td>
        </tr>
        <tr>
            <th>전공</th>
            <td th:text="${doctor.getMajor()}"></td>
        </tr>
        <tr>
            <th>핸드폰 번호</th>
            <td th:text="${doctor.getPhoneNum()}"></td>
        </tr>
        <tr>
            <th>자기 소개</th>
            <td th:text="${doctor.getIntroduce()}"></td>
        </tr>
        <tr>
            <th>성별</th>
            <td th:text="${doctor.getGenderId() == 0 ? '여' : '남'}"></td>
        </tr>
        <tr>
            <th>가입 기간</th>
            <td th:text="${#temporals.format(doctor.getCreatedAt(), 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        <tr>
            <th>수정 기간</th>
            <td th:text="${#temporals.format(doctor.getUpdatedAt(), 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>