<html layout:decorate="~{myPage/doctor/sampleLayout}">
<div layout:fragment="content">
    <nav>
        <a href="/usr/mypage/doctor">뒤로</a>
    </nav>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">고객 이름</th>
                <th scope="col">동물 이름</th>
                <th scope="col">날짜</th>
                <th scope="col">상태</th>
                <th scope="col">상태 변경</th>
                <th scope="col">상세</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="medicalAppointment, i : ${medicalAppointments}">
                <td th:text="${medicalAppointment?.member?.name}"></td>
                <td th:text="${medicalAppointment?.animal?.name}"></td>
                <td th:text="${#temporals.format(medicalAppointment?.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${medicalAppointment?.medicalAppointmentStatus}"></td>
                <td>
                    <button th:if="${medicalAppointment.medicalAppointmentStatus.name == 'COMPLETE' }"
                            type="button">
                        거절
                    </button>
                </td>
                <td>
                    <button type="button" th:onclick="|location.href='medical-appointments/${medicalAppointment.member.id}'|">보기</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>
