<html layout:decorate="~{global/layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<div layout:fragment="content" class="container my-5">
    <body>
        <div class="container">
            <div class="page-header">
                <a th:href="@{/usr/posts}"><h3>Community</h3></a>
            </div>

            <form th:action="@{|/usr/posts/${id}/modify|}" th:object="${modifyPostRequestDto}" method="post">
                <h5>게시글 수정</h5>
                <div class="form-group">
                    <input type="text" name="title" th:value="${post.title}" class="form-control" placeholder="제목" required="required">
                </div>
                <div class="form-group">
                    <textarea name="content" th:text="${post.content}" class="form-control" placeholder="내용" rows="10" required="required"></textarea>
                </div>
                <button type="submit" class="btn btn-primary my-2">게시글 수정</button>
            </form>
            <br/>
        </div>
    </body>
</div>
</html>