<html layout:decorate="~{global/layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<div layout:fragment="content" class="container my-5">
    <body>
        <div class="container">
            <div class="page-header">
                <h3>Community</h3>
            </div>

            <form th:action="@{|/usr/posts/${comment.postId}/comments/${comment.id}/modify|}" th:object="${modifyCommentRequestDto}" method="post">
                <h3>댓글 수정</h3>
                <div class="form-group">
                    <textarea th:field="*{content}" class="form-control" rows="5" placeholder="내용" required="required"></textarea>
                </div>
                <button type="submit" class="btn btn-primary my-2">댓글 수정</button>
            </form>
            <br/>
        </div>
    </body>
</div>
</html>