<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="global/fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>

<div class="container">
    <div th:replace="global/fragments/bodyHeader :: bodyHeader"/>


    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>도시</th>
                <th>주소</th>
                <th>우편번호</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${memberDto.memberId}"></td>
                <td th:text="${memberDto.member_name}"></td>
                <td th:text="${memberDto.address?.city}"></td>
                <td th:text="${memberDto.address?.street}"></td>
                <td th:text="${memberDto.address?.zipcode}"></td>
            </tr>
            </input>

            </tbody>
        </table>
    </div>
    <div th:replace="global/fragments/footer :: footer" />
</div> <!-- /container -->

</body>
</html>
