<html layout:decorate="~{doctorqna/doctorQnaLayout}">

<div layout:fragment="content" class="container my-3">

    <h5 class="my-3 border-bottom pb-2">질문수정</h5>
    <form th:action="@{|/usr/doctor-qna/${answer.question.id}/answers/${answer.id}/modify|}" th:object="${answerUpdateRequestDto}" method="post">

        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea id="content" name="content" rows="10" class="form-control">[[${answer.content}]]</textarea>
        </div>
        <input type="submit" value="수정하기" class="btn btn-primary my-2">
    </form>
</div>
</html>