<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{global/layout}" >

<div layout:fragment="content" class="container my-5">

    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form th:action="@{/usr/doctor-qna/write}" th:object="${questionSaveRequestDto}" method="post">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" th:field="*{title}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
        </div>
        <div class="mb-3">
            <label for="hashtags" class="form-label">해시태그</label>
            <input type="text" id="hashtags" class="form-control">
            <ul id="hashtags-list">
                <li th:each="tag : ${questionSaveRequestDto.hashtags}" th:text="${tag}" />
            </ul>
        </div>
        <input type="hidden" id="hashtags-hidden" th:field="*{hashtags}" />

        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>

    <script>
        const hashtagsInput = document.getElementById("hashtags");
        const hashtagsList = document.getElementById("hashtags-list");
        const hiddenHashtagsInput = document.getElementById("hashtags-hidden");

        let hashtags = [];

        function addHashtag(tag) {
            tag = tag.replace(/[\[\]]/g, '');
            const li = document.createElement("li");
            li.innerText = tag;
            hashtagsList.appendChild(li);
            hashtags.push(tag);
            hiddenHashtagsInput.value = hashtags.join(",");
        }

        hashtagsInput.addEventListener("keydown", (event) => {
            if (event.keyCode === 13) {
                event.preventDefault();
                const tag = hashtagsInput.value.trim();
                if (tag) {
                    addHashtag(tag);
                    hashtagsInput.value = "";
                }
            }
        });
    </script>

</div>
</html>
