<html layout:decorate="~{global/layout}">
<head th:replace="/global/fragments/header :: header"/>
<div layout:fragment="content" class="container my-3">
<body>
<div th:replace="/global/fragments/bodyHeader :: bodyHeader"/>
<table class = "table">
        <thead class = "table-dark">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>조회수</th>
            <th>작성자</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question, loop : ${questionlist}">
            <td th:text="${loop.count}"></td>
            <td>
                <a th:href="@{|doctor-qna/${question.id}|}" th:text="${question.title}"></a>
            </td>
            <td><a th:text="${question.view}"></a></td>
            <td><a th:text="${question.member?.email}"></a></td>
            <td th:text="${#temporals.format(question.createdAt, 'yyyy-MM-dd HH:mm')}"></td>

        </tr>
        </tbody>
    </table>

    <a th:href="@{/usr/doctor-qna/write}" class="btn btn-primary">질문 등록하기</a>
<div th:replace="/global/fragments/footer :: footer" />
</body>
</div>

</html>