<html layout:decorate="~{global/layout}" xmlns="http://www.w3.org/1999/html">

<div layout:fragment="content" class="container my-5">
    <body>
    <table class = "table">
        <thead class = "table-dark">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일시</th>
            <th>추천수</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question, loop : ${paging}">

            <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
            <td>
                <a th:href="@{|/usr/doctor-qna/${question.id}|}" th:text="${question.title}"></a>
                <span class="text-danger small ms-2"
                      th:if="${#lists.size(question.answerList) > 0}"
                      th:text="${#lists.size(question.answerList)}">
                </span>
            </td>
            <td><a th:text="${question.member?.name}"></a></td>
            <td th:text="${#temporals.format(question.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
            <td><a th:text="${question.likeCount}"></a></td>
            <td><a th:text="${question.view}"></a></td>

        </tr>
        </tbody>
    </table>

    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.number-1}&kw=${kw}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-2 and page <= paging.number+2}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item">
                <a th:text="${page + 1}" class="page-link" th:href="@{|?page=${page}&kw=${kw}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}&kw=${kw}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->


    <div class="row my-3">
        <div class="col-6">
            <a th:href="@{/usr/doctor-qna/write}" class="btn btn-primary">질문 등록하기</a>
        </div>
        <div class="row col-6">
            <form class="input-group col-xl-1">
                <select onchange="$(this).closest('form').submit();" class="form-select" name="type" th:value="${param.kr}">
                    <option value="title">제목</option>
                    <option value="content">내용</option>
                    <option value="member">작성자</option>
                </select>
                <input class="form-control" type="text" name="kw" placeholder="검색어를 입력해주세요.">
                <button type="submit" class="btn btn-outline-secondary">검색</button>
            </form>
        </div>
    </div>


    </body>
</div>

</html>