<html layout:decorate="~{global/layout}">
<div layout:fragment="content" class="container my-5">

    <h2 class="border-bottom py-2" th:text="${question.title}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${question.content}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div th:text="|질문 등록일 ${#temporals.format(question.createdAt, 'yyyy-MM-dd HH:mm')}|"></div>
                </div>
            </div>
            <!-- test-->
            <div sec:authorize="isAuthenticated()">
                <!-- 좋아요 -->
                <input type="hidden" id="like_check" th:value="${like}">
                <img th:id="likeImg" src="/img/doctorQna/like_empty.png" alt="" width="30px"
                     height="30px" style="cursor:pointer">
                <span th:text="${question.likeCount}"></span>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <!-- 로그인하지 않은 유저라면 -->
                <img id="loginCheck" src="/img/doctorQna/like_empty.png" alt="" width="30px"
                     height="30px">
                <span th:text="${question.likeCount}"></span>
            </div>
            <!-- testEnd-->
            <div class="my-3">
                <a th:href="@{|/usr/doctor-qna/${question.id}/modify|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.member != null and #authentication.getPrincipal().getEmail() == question.member.email}"
                   th:text="수정"></a>
                <a onclick="if ( !confirm('정말로 삭제하시겠습니까?') ) return false;" th:href="@{|/usr/doctor-qna/${question.id}/delete|}"
                   class="delete btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.member != null and #authentication.getPrincipal().getEmail() == question.member.email}"
                   th:text="삭제"></a>
            </div>
        </div>
        <input type="hidden" id="questionId" th:value="${question.id}">
    </div>

    <h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>

    <div class="card my-3" th:each="answer : ${question.answerList}">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${answer.content}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div th:text="|답변 작성일 ${#temporals.format(answer.createdAt, 'yyyy-MM-dd HH:mm')}|"></div>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{|/usr/doctor-qna/${question.id}/answers/${answer.id}/modify|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${answer.doctor != null and #authentication.getPrincipal().getEmail() == answer.doctor.email}"
                   th:text="수정"></a>
                <a onclick="if ( !confirm('정말로 삭제하시겠습니까?') ) return false;" th:href="@{|/usr/doctor-qna/${question.id}/answers/${answer.id}/delete|}"
                   sec:authorize="isAuthenticated()"
                   th:if="${answer.doctor != null and #authentication.getPrincipal().getEmail() == answer.doctor.email}"
                   class="delete btn btn-sm btn-outline-secondary"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>

    <div sec:authorize="hasRole('ROLE_DOCTOR')">
        <form th:action="@{|/usr/doctor-qna/${question.id}/answers/write|}" th:object="${answerSaveRequestDto}" method="post" class="my-3">
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
            </div>
            <textarea name="content" class="form-control" rows="10"></textarea>
            <input type="submit" value="답변등록" class="btn btn-primary my-2">
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:inline="javascript">

        const clickLikeUrl = "/img/doctorQna/like_click.png";
        const emptyLikeUrl = "/img/doctorQna/like_empty.png";

        /** 좋아요 유무에 따라 하트 그림 다르게 보여줌 **/
        //브라우저가 웹 문서를 읽기 시작하고 DOM이 생성되면 실행되는 메소드
        $(function(){

            // 현재 로그인한 유저가 해당 게시물을 좋아요 했다면 likeVal = true,
            // 좋아요하지 않았다면 false
            let likeVal = $('#like_check').val(); // 데이터가 있으면 true
            const likeImg = $('#likeImg');

            console.log("likeVal : " + likeVal);

            if(likeVal === 'true'){
                // 데이터가 존재하면 화면에 채워진 하트 보여줌
                $('#likeImg').attr("src", clickLikeUrl);
            } else if(likeVal === 'false'){
                // 데이터가 없으면 화면에 빈 하트 보여줌
                $('#likeImg').attr("src", emptyLikeUrl);
            }
        });

        /** 좋아요 클릭 시 실행 **/
        $('#likeImg').click(function() {

            const questionId = $('#questionId').val();
            const likeVal = $('#like_check').val();

            console.log(likeVal);
            if (likeVal === 'true') {
                const con_check = confirm("현재 게시물 추천을 취소하시겠습니까?")
                if (con_check) {
                    console.log("추천 취소 진입");
                    $.ajax({
                        type: 'POST',
                        url: '/usr/doctor-qna/like/' + questionId,
                        contentType: 'application/json; charset=utf-8'
                    }).done(function () {
                        $('#likeImg').attr("src", emptyLikeUrl);
                        location.reload();
                    }).fail(function (error) {
                        alert(JSON.stringify(error));
                    })
                }
            } else if(likeVal === 'false'){
                const con_check = confirm("현재 게시물을 추천하시겠습니까?");
                if (con_check) {
                    console.log("추천 진입");
                    $.ajax({
                        type: 'POST',
                        url: '/usr/doctor-qna/like/' + questionId,
                        contentType: 'application/json; charset=utf-8'
                    }).done(function () {
                        $('#likeImg').attr("src", clickLikeUrl);
                        location.reload();
                    }).fail(function (error) {
                        alert(JSON.stringify(error));
                    })
                }
            }
        });

        /** 로그인하지 않은 유저가 좋아요 누를 때 **/
        $('#loginCheck').click(function(){
            alert("로그인 후 이용할 수 있습니다.");
        });
    </script>
</div>
</html>

