<html layout:decorate="~{global/layout}">

<div layout:fragment="content" class="container my-5">
    <body>
    <table class = "table">
        <thead class = "table-dark text-center">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>조회수</th>
            <th>작성자</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question, loop : ${paging}">

            <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
            <td>
                <a th:href="@{|doctor-qna/${question.id}|}" th:text="${question.title}"></a>
            </td>
            <td><a th:text="${question.view}"></a></td>
            <td><a th:text="${question.member?.email}"></a></td>
            <td th:text="${#temporals.format(question.createdAt, 'yyyy-MM-dd HH:mm')}"></td>

        </tr>
        </tbody>
    </table>

    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-2 and page <= paging.number+2}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item">
                <a th:text="${page + 1}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->

    <a th:href="@{/usr/doctor-qna/write}" class="btn btn-primary">질문 등록하기</a>
    </body>
</div>

</html>