<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="bodyHeader" th:fragment="bodyHeader" th:style="center">
  <ul class="nav nav-pills pull-right">

    <li><a href="/">Home &nbsp;&nbsp;</a></li>
    <li><a href="/">Community &nbsp;&nbsp;</a></li>
    <li><a href="/">Doctor Q&A &nbsp;&nbsp;</a></li>
    <li><a href="/">Shop &nbsp;&nbsp;</a></li>
    <li><a href="/user/mypage/member/{memberId}">My Page</a></li>
  </ul>
  <a href="/user/mypage/member/{memberId}"><h3 class="text-muted">Animal Care</h3></a>
</div>
