<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS (기존 css): 회원 My Page 화면에서 전체적인 테두리 색을 입혀줌으로 인해 가운데로 시선을 집중시켜줌 -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!--  Argon CSS 추가: 메뉴들이 왼쪽으로 정렬됨, 화면이 전체적으로 채워짐 -->
  <link type="text/css" href="/css/argon-dashboard.min.css" rel="stylesheet" >

  <!-- Custom styles for this template (기존 css): 메뉴를 가운데 정렬 시켜줌 -->
  <link href="/css/jumbotron-narrow.css" rel="stylesheet">

  <!--  Argon CSS 추가: 세밀하게 템플릿을 custom 가능 -->
  <link href="/css/argon-dashboard.css" rel="stylesheet">

  <title>Animal Care</title>
</head>
