<html layout:decorate="~{global/no-navbars-layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<div layout:fragment="content" class="container my-5">
    <body>

<div class="container">
    <div class="page-header">
        <h3>진단서 작성</h3>
    </div>

<!--    <form role="form" th:action="@{|/usr/mypage/doctor/member-manage/appointments/{appointmentId} (appointmentId=${appointmentId})|}" th:object="${oneDiagnosisForm}" method="post">-->

        <form role="form" th:object="${oneDiagnosisForm}" method="post">

<!--start div form-->
<!--        <div class="form-group">-->
<!--            <label th:for="membername">회원이름</label>-->
<!--            <option name="memberId" id="member" th:text="${member.name}" class="form-control"/>-->
<!--            </option>-->
<!--        </div>-->

<!--        &lt;!&ndash;        주소&ndash;&gt;-->
<!--        <div class="form-group">-->
<!--            <label th:for="addressCity">도시</label>-->
<!--            <option name="memberCityId" id="memberCity" th:text="${member.address.getCity()}" class="form-control"/>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label th:for="addressStreet">거리</label>-->
<!--            <option name="memberStreetId" id="memberStreet" th:text="${member.address.getStreet()}" class="form-control"/>-->
<!--        </div>-->

<!--&lt;!&ndash;        사육 장소&ndash;&gt;-->
<!--        <div class="form-group">-->
<!--            <label th:for="breedingPlace">사육장소</label>-->
<!--            <input type="text" th:field="*{breedingPlace}" class="form-control" placeholder="사육장소를 입력하세요">-->
<!--        </div>-->

<!--&lt;!&ndash;        동물의 표시&ndash;&gt;-->
<!--        <div class="form-group">-->
<!--            <label th:for="animalType">동물종류</label>-->
<!--            <input type="text" th:field="*{animalType}" class="form-control" placeholder="동물종류를 입력하세요">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label th:for="animalBreed">동물품종</label>-->
<!--            <input type="text" th:field="*{animalBreed}" class="form-control" placeholder="동물품종을 입력하세요">-->
<!--        </div>-->

<!--&lt;!&ndash;        왜 에러가 나는거냐&ndash;&gt;-->
<!--        <div class="form-group">-->
<!--            <label th:for="animalName">동물명</label>-->
<!--&lt;!&ndash;            <input type="text" th:field="*{animalName}" class="form-control" placeholder="동물이름을 입력하세요">&ndash;&gt;-->
<!--&lt;!&ndash;            animal.name이 문제네 뭐지?&ndash;&gt;-->
<!--            <option name=animalId" id="animal" th:text="${animal.name}" class="form-control"/>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label th:for="animalGenderId">동물성별</label>-->
<!--&lt;!&ndash;            <input type="text" th:field="*{animalGenderId}" class="form-control" placeholder="동물성별을 입력하세요">&ndash;&gt;-->
<!--            <option name=animalId" id="animal" th:text="${animal.getGenderId()}" class="form-control"/>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label th:for="animalAge">동물연령</label>-->
<!--            <input type="text" th:field="*{animalAge}" class="form-control" placeholder="동물연령을 입력하세요">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label th:for="animalCoatColor">동물모색</label>-->
<!--            <input type="text" th:field="*{animalCoatColor}" class="form-control" placeholder="동물모색을 입력하세요">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label th:for="animalSpecial">동물특징</label>-->
<!--            <input type="text" th:field="*{animalSpecial}" class="form-control" placeholder="동물특징을 입력하세요">-->
<!--        </div>-->


<!--&lt;!&ndash;        병명&ndash;&gt;-->
<!--        <div class="form-group">-->
<!--            <label th:for="diseaseName">병명</label>-->
<!--            <input type="text" th:field="*{diseaseName}" class="form-control" placeholder="병명을 입력하세요">-->
<!--        </div>-->

<!--&lt;!&ndash;        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;            <label th:for="diseaseDate">발병 연월일</label>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="text" th:field="*{diseaseDate}" class="form-control" placeholder="발병연월일을 입력하세요">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;            <label th:for="diagnosisDate">진단 연월일</label>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="text" th:field="*{diagnosisDate}" class="form-control" placeholder="진단연월일을 입력하세요">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--        <div class="form-group">-->
<!--            <label th:for="opinion">예후 소견</label>-->
<!--            <input type="text" th:field="*{opinion}" class="form-control" placeholder="예후소견을 입력하세요">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label th:for="otherMatter">그 밖의 사항</label>-->
<!--            <input type="text" th:field="*{otherMatter}" class="form-control" placeholder="그 밖의 사항을 입력하세요">-->
<!--        </div>-->

<!--&lt;!&ndash;        동물병원 명칭&ndash;&gt;-->
<!--        <div class="form-group">-->
<!--            <label th:for="hospitalName">동물병원 명칭</label>-->
<!--            <input type="text" th:field="*{hospitalName}" class="form-control" placeholder="동물병원 명칭을 입력하세요">-->
<!--&lt;!&ndash;            <option name=hospitalId" id="hospital" th:text="${hospital.name}" class="form-control"/>&ndash;&gt;-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label th:for="hospitalStreet">동물병원 주소</label>-->
<!--&lt;!&ndash;            <option name=hospitalId" id="hospital" th:text="${hospital.address.getStreet()}" class="form-control"/>&ndash;&gt;-->
<!--            <input type="text" th:field="*{hospitalStreet}" class="form-control" placeholder="동물병원 주소를 입력하세요">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label th:for="doctorLicense">수의사 면허</label>-->
<!--            <input type="text" th:field="*{doctorLicense}" class="form-control" placeholder="수의사 면허를 입력하세요">-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label th:for="doctorName">수의사 이름</label>-->
<!--&lt;!&ndash;            <option name=doctorId" id="doctor" th:text="${doctor.name}" class="form-control"/>&ndash;&gt;-->
<!--            <input type="text" th:field="*{doctorName}" class="form-control" placeholder="수의사 이름을 입력하세요">-->

<!--        </div>-->
<!--end div-->


<!--        modal-body start-->
        <div class="modal-body">
            <table class="table caption-top table-bordered">

                <div id = "name">
                <tr>
                    <th rowspan="2" class="col-2">동물보호자</th>
                    <th class="col-2" >성명</th>
<!--                    <td colspan="3" th:text="${diagnosis?.memberName}"></td>-->
                    <td colspan="3" th:text="${member.name}"></td>
                </tr>
                </div>

                <tr>
                    <th>주소</th>
                    <td colspan="3">
<!--                        <p th:text="|(도로명)${diagnosis?.addressStreet}|"></p>-->
<!--                        <p th:text="|(지번)${diagnosis?.addressCity}|"></p>-->
                        <p th:text="|(도로명)${member.address.getStreet()}|"></p>
                        <p th:text="|(지번)${member.address.getCity()}|"></p>
                    </td>
                <tr>
                    <th>사육 장소</th>
                    <td colspan="4" th:text="${diagnosis?.breedingPlace}"></td>
                </tr>
                <tr>
                    <th class="col-2" rowspan="4" >동물의 표시</th>
                    <th class="col-2">종류</th>
                    <td class="col-3" th:text="${diagnosis?.animalType}"></td>
                    <th class="col-2">품종</th>
                    <td th:text="${diagnosis?.animalBreed}"></td>
                </tr>
                <tr>
                    <th>동물명</th>
<!--                    <td th:text="${diagnosis?.animalName}"></td>-->
                    <td th:text="${animal.name}"></td>
                    <th>성별</th>
<!--                    <td th:text="${diagnosis?.animalGenderId == 0 ? '암컷' : '수컷'}"></td>-->
                    <td th:text="${animal.getGenderId() == 0 ? '암컷' : '수컷'}"></td>
                </tr>
                <tr>
                    <th>연령</th>
                    <td th:text="|${diagnosis?.animalAge}세|">X</td>
                    <th>모색</th>
                    <td th:text="${diagnosis?.animalCoatColor}"></td>
                </tr>
                <tr>
                    <th>특징</th>
                    <td colspan="4" th:text="${diagnosis?.animalSpecial}">X</td>
                </tr>
                <tr>
                    <th>병명</th>
<!--                    <td colspan="4" th:text="${diagnosis?.diseaseName}"></td>-->
                    <td colspan="4">
                        <input type="text" th:field="*{diseaseName}" class="form-control" placeholder="병명을 입력하세요"/>
                        </input>
                    </td>
                </tr>
                <tr>
                    <th>발병 연월일<br />(임신 연월일)</th>
<!--                    <td colspan="4" th:text="${#dates.format(diagnosis?.diseaseDate, 'yyyy년 MM월 dd일')}"></td>-->

                    <td colspan="4">
                        <input type="text" th:field="*{diseaseDate}" class="form-control" placeholder="발병 연월일을 입력하세요. 예시)'yyyy년 MM월 dd일'"/>
                        </input>
                    </td>
                </tr>
<!--                아래에 있음 div class="text-center container"-->
<!--                <tr>-->
<!--                    <th>진단 연월일</th>-->
<!--&lt;!&ndash;                    <td colspan="4"  th:text="${#dates.format(diagnosis?.diagnosisDate, 'yyyy년 MM월 dd일')}"></td>&ndash;&gt;-->
<!--                    <td colspan="4" th:text="${#temporals.format(#temporals.createNow(), 'yyyy년 MM월 dd일')}"></td>-->
<!--                </tr>-->
                <tr>
                    <th>예후 소견</th>
<!--                    <td colspan="4" th:text="${diagnosis?.opinion}">-->
                    <td colspan="4">
                        <input type="text" th:field="*{opinion}" class="form-control" placeholder="예후소견을 입력하세요"/>
                        </input>
                    </td>
                </tr>
                <tr>
                    <th>그 밖의 사항</th>
<!--                    <td colspan="4" th:text="${diagnosis?.otherMatter}"></td>-->
                    <td colspan="4">
                        <input type="text" th:field="*{otherMatter}" class="form-control" placeholder="그 밖의 사항을 입력하세요"/>
                        </input>
                    </td>
                </tr>
            </table>
            <div class="text-center container">
                <p>수의사법 제12조 및  도법 시행규칙 제9조에 따라 위와 같이 증명합니다.</p>
                <p th:text="${#temporals.format(#temporals.createNow(), 'yyyy년 MM월 dd일')}"></p>
            </div>

            <div class="container">
                <p th:text="|동물병원 명칭 : ${hospital.name}|"></p>
<!--                <p th:text="|동물병원 주소 : ${diagnosis?.hospitalStreet}|"></p>-->
                <p th:text="|동물병원 주소 : ${hospital.address.getStreet()}|"></p>
                <p th:text="|동물병원 면허 : ${diagnosis?.doctorLicense}|"></p>
            </div>
            <div class="text-center container">
<!--                <p th:text="|수의사 : ${diagnosis?.doctorName} (인)|"> </p>-->
                <p th:text="|수의사 : ${doctor.name} (인)|"> </p>

<!--                <h2 th:text="${diagnosis?.hospitalName}"></h2>-->
                <h2 th:text="${hospital.name}"></h2>
            </div>
        </div>
<!-- modal body end-->


        <button type="submit"
                href="#" th:href="@{|/usr/mypage/doctor/member-manage/appointments/all|}" class="btn btn-primary">Submit</button>

<!--            <td>-->
<!--                <a th:if="${ad.status.name() == 'READY'}"-->
<!--                   href="#" th:href="@{/usr/mypage/member/appointment/info/{appointmentId}/modify (appointmentId=${ad.appointmentId})}" class="btn btn-primary" role="button">MODIFY</a>-->
<!--            </td>-->
<!--            <td>-->
    </form>
    <br/>

</div> <!-- /container -->

</body>
</div>
</html>
