<html layout:decorate="~{global/layout}">

<div layout:fragment="content" class="container my-5">
    <body>


<div class="container">
    <div class="page-header">
        <h3>진단서 내역</h3>
    </div>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>진단서 이름</th>
                <th>내용</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="diagnosis : ${diagnoses}">
                <td th:text="${diagnosis.id}"></td>\
                <td th:text="${diagnosis.title}"></td>
                <td th:text="${diagnosis.content}"></td>
            </tr>

            </tbody>
        </table>
    </div>

</div> <!-- /container -->
    </body>
</div>
</html>
