<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>진단서 이름</th>
                <th>내용</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="diagnosis : ${diagnoses}">
                <td th:text="${diagnosis.id}"></td>\
                <td th:text="${diagnosis.title}"></td>
                <td th:text="${diagnosis.content}"></td>
            </tr>

            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>


</html>
