<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="global/fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="global/fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>회원 My Page</h1>

        <p> <a class="btn btn-lg btn-secondary" href="/usr/mypage/member/new">내 정보 입력하기</a>

            <a class="btn btn-lg btn-secondary" href="/usr/mypage/member/info">내 정보</a></p>

        <p> <a class="btn btn-lg btn-secondary" href="/usr/mypage/member/appointment">임시 예약 하기</a>

        <a class="btn btn-lg btn-secondary" href="/usr/mypage/member/appointment-info">예약 내역</a></p>

        <p> <a class="btn btn-lg btn-secondary" href="/usr/mypage/member/hospitalVisited-info">병원방문내역</a></p>

        <p> <a class="btn btn-lg btn-secondary" href="/usr/mypage/member/delivery-info">약 배달 현황</a></p>

        <p> <a class="btn btn-lg btn-secondary" href="/usr/mypage/member/itemOrder/list">물품 구입 현황</a></p>

    </div>
    <div th:replace="global/fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>