<html layout:decorate="~{global/layout}">

    <div layout:fragment="content" class="container my-5">
        <body>

        <div class="container">

                <h1>MemberMyPage</h1>

                <p> <a class="btn btn-lg btn-secondary" href="/usr/mypage/member/new">내 정보 수정</a>

                    <a class="btn btn-lg btn-secondary" href="/usr/mypage/member/info">내 정보</a></p>

                <p> <a class="btn btn-lg btn-secondary" href="/usr/mypage/member/appointment">임시 예약 하기</a>

                    <a class="btn btn-lg btn-secondary" href="/usr/mypage/member/appointment-info">예약내역</a></p>

                <p> <a class="btn btn-lg btn-secondary" href="/usr/mypage/member/hospitalVisited-info">병원방문내역</a>

                    <a class="btn btn-lg btn-secondary" th:href="@{/usr/animal/list}">동물 관리</a></p>

                <p> <a class="btn btn-lg btn-secondary" href="/usr/mypage/member/delivery-info">약 배달 현황</a></p>

                <p> <a class="btn btn-lg btn-secondary" href="/usr/mypage/member/itemOrder/list">물품 구입 현황</a></p>

            </div>

        </body>
    </div>
</html>