<html layout:decorate="~{global/layout}">

<div layout:fragment="content" class="container my-5">
    <body>
    <h1>Login</h1>
    <hr>
    <img src="/img/cat.jpeg"/>

    <a href="/oauth2/authorization/kakao"><img src="/img/kakao.jpeg"/></a>
    <br>
    <form action="/login" method="POST">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        email : <input type="text" name="username" class="mx-2 mt-3"> <br>
        password : <input type="password" name="password" class="mx-2 mt-3"> <br>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <a href="/signup" class="btn btn-primary">Go to Sign Up! →</a>
    </body>
</div>
</html>