<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>sign up</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Sign Up</h1>-->
<!--<hr>-->

<!--<form th:action="@{/user}" method="POST">-->
<!--    <input type="radio" name="auth" value="ROLE_USER" checked="checked"> user-->
<!--    <input type="radio" name="auth" value="ROLE_DOCTOR,ROLE_USER"> doctor <br>-->
<!--    email : <input type="text" name="email"> <br>-->
<!--    password : <input type="password" name="password"> <br>-->
<!--    <button type="submit">Join</button>-->
<!--</form>-->
<!--<br>-->

<!--<a href="/login">Go to login →</a>-->
<!--</body>-->
<!--</html>-->

<!--<form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">-->

<!--    <div th:replace="form_errors :: formErrorsFragment"></div>-->

<!--    <div class="mb-3">-->
<!--        <label class="form-label">사용자ID</label>-->
<!--        <input type="text" th:field="*{username}" class="form-control">-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--        <label class="form-label">비밀번호</label>-->
<!--        <input type="password" th:field="*{password1}" class="form-control">-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--        <label class="form-label">비밀번호 확인</label>-->
<!--        <input type="password" th:field="*{password2}" class="form-control">-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--        <label class="form-label">이메일</label>-->
<!--        <input type="email" th:field="*{email}" class="form-control">-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-primary">회원가입</button>-->
<!--</form>-->



<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
    <h1>Sign Up</h1>
    <hr>

    <form th:action="@{/user}" method="POST">
        <input type="radio" name="auth" id="user" value="ROLE_USER" checked="checked"> user
        <input type="radio" name="auth" id="doctor" value="ROLE_DOCTOR,ROLE_USER"> doctor <br>

            <div class="mb-3">
                <label class="form-label">이메일</label>
                <input type="email" name="email" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">비밀번호</label>
                <input type="password" name="password" class="form-control">
            </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
    <br>

    <a href="/login">Go to login →</a>

</div>

</html>