<html layout:decorate="~{global/layout}">

<div layout:fragment="content" class="container my-5">
  <body>
  <div class="page-header">
    <h3>병원진료내역</h3>
  </div>
  <div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>회원</th>
        <th>애완동물</th>
        <th>병원</th>
        <th>닥터</th>
        <th>진료날짜</th>
        <th></th>
      </tr>
      </thead>
      <tbody>

      <tr th:each="ad : ${appointmentDto}">
        <div a th:if="${ad.status.name() == 'COMPLETE'}">

        <td th:text="${ad.appointmentId}"></td>
        <td th:text="${ad.memberName}"></td>
        <td th:text="${ad.animalName}"></td>
        <td th:text="${ad.hospitalName}"></td>
        <td th:text="${ad.doctorName}"></td>
        <td th:text="${ad.date}"></td>

      </div>
      </tr>

      </tbody>
    </table>
  </div>
  </body>
</div>
</html>