<html layout:decorate="~{global/layout}">
<div class="container my-5" layout:fragment="content">
    <nav>
        <a th:href="@{/usr/member/mypage/info}"
           th:text="돌아가기"
           class="btn"
        ></a>
    </nav>
    <h2 class="p-4">
        내 비밀번호 수정
    </h2>
    <div>
        <form th:action="@{/usr/member/mypage/info/modify/password}"
              th:object="${requestDto}" method="post">
            <div class="container" th:replace="myPage/member/sample-form-errors :: formErrorsFragment"></div>
            <table class="table">
                <thead>
                <tr>
                    <th class="row">기존 비밀번호</th>
                    <td>
                        <input class="form-control" type="password" th:field="*{beforePassword}" />
    <!--                    <small th:if="${#fields.hasErrors('beforePassword')}" th:errors="*{beforePassword}">before Password Confirm Error</small>-->
                    </td>
                </tr>
                <tr>
                    <th class="row">새 비밀번호</th>
                    <td>
                        <input class="form-control" type="password" th:field="*{newPassword}"/>
    <!--                    <small th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">New Password Confirm Error</small>-->
                    </td>
                    <th class="row">새 비밀번호 재입력</th>
                    <td>
                        <input class="form-control" type="password" th:field="*{newPasswordConfirm}"/>

                    </td>
                </tr>
            </table>
            <input type="submit" class="btn btn-primary" value="수정 완료">
        </form>
    </div>
</div>
</html>