<html layout:decorate="~{global/layout}">

    <div layout:fragment="content" class="container my-5">
        <body>

        <div class="container">

            <h1>MemberMyPage</h1>

            <p>
                <a class="btn btn-lg btn-secondary mx-2" th:href="@{/usr/member/mypage/info}">내 정보</a>
                <a class="btn btn-lg btn-secondary mx-2" th:href="@{/usr/member/animal/list}">동물 관리</a>
            </p>
            <p>
                <a class="btn btn-lg btn-secondary mx-2" th:href="@{/usr/member/mypage/appointment/info}">예약내역</a>
                <a class="btn btn-lg btn-secondary" th:href="@{/usr/member/mypage/appointment}">임시 예약 하기</a>
            </p>
            <p>
                <a class="btn btn-lg btn-secondary mx-2" th:href="@{/usr/member/mypage/hospitalDiagnosis/info}">병원진료내역</a>
            </p>
            <p>
                <a class="btn btn-lg btn-secondary mx-2" th:href="@{/usr/member/mypage/delivery/info}">약 배달 현황</a>
                <a class="btn btn-lg btn-secondary mx-2" th:href="@{/usr/member/mypage/itemOrder/list}">물품 구입 현황</a>
            </p>


            </div>

        </body>
    </div>
</html>