<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/user/mypage/member/{memberId}/medical-appointment" method="post">
<!--        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
        <div class="form-group">
            <label>회원이름</label>
            <input name="memberId" id="member" th:value="${member.name}" class="form-control"/>
            </input>
        </div>

        <div class="form-group">
            <label for="animal">애완동물이름</label>
            <select name="animalId" id="animal" class="form-control">
                <option value="">애완동물 선택</option>
                <option th:each="animal : ${animals}"
                        th:value="${animal.id}"
                        th:text="${animal.name}"/>
            </select>
        </div>

        <div class="form-group">
            <label for="hospital">병원이름</label>
            <select name="hospitalId" id="hospital" class="form-control">
                <option value="">병원선택</option>
                <option th:each="hospital : ${hospitals}"
                        th:value="${hospital.id}"
                        th:text="${hospital.name}" />
            </select>
        </div>

        <div class="form-group">
            <label for="doctor">의사이름</label>
            <select name="doctorId" id="doctor" class="form-control">
                <option value="">의사선택</option>
                <option th:each="doctor : ${doctors}"
                        th:value="${doctor.id}"
                        th:text="${doctor.name}" />
            </select>
        </div>

        <div class="form-group">
            <label>예약날짜</label>
            <input name="inputDateId" id="input_date" type="datetime-local" class="form-control form-control-sm"/>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>

</html>
