<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
<div class="container">

  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <form role="form" action="/medical-appointment-animal" method="post">

    <div class="form-group">
      <label>회원이름</label>
      <select name="memberId" id="member" class="form-control">
        <option value="">회원선택</option>
        <option th:each="member : ${members}"
                th:value="${member.id}"
                th:text="${member.name}" />
      </select>
    </div>

    <div class="form-group">
      <label for="animal">애완동물이름</label>
      <select name="animalId" id="animal" class="form-control">
        <option value="">애완동물선택</option>
        <option th:each="member : ${members}">
          <span th:each="animal : ${animals}"
                th:if="${member.id == animal.member.id}"
                th:value="${animal.member.id}"
                th:text="${animal.name}" />
<!--                <option th:each="animal : ${animals}"-->
<!--                        th:value="${animal.id}"-->
<!--                        th:text="${animal.name}" />-->
      </select>
    </div>

    <div class="form-group">
      <label for="hospital">병원이름</label>
      <select name="hospitalId" id="hospital" class="form-control">
        <option value="">병원선택</option>
        <!--        <option th:each="hospital : ${hospitals}"-->
        <!--                th:value="${hospital.id}"-->
        <!--                th:text="${hospital.name}" />-->
      </select>
    </div>

    <div class="form-group">
      <label for="doctor">의사이름</label>
      <select name="doctorId" id="doctor" class="form-control">
        <option value="">의사선택</option>
        <!--        <option th:each="doctor : ${doctors}"-->
        <!--                th:value="${doctor.id}"-->
        <!--                th:text="${doctor.name}" />-->
      </select>
    </div>

    <div class="form-group">
      <label>예약날짜</label>
      <input id="input_date" type="datetime-local" class="form-control form-control-sm"/>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br/>

  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
</html>
