<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    예약내역입니다.
    <div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>회원</th>
                <th>애완동물</th>
                <th>병원</th>
                <th>닥터</th>
                <th>예약 날짜</th>
                <th>예약 상태</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="s : ${simpleMedicalAppointmentDtos}">
                <td th:text="${s.medicalAppointmentId}"></td>
                <td th:text="${s.memberName}"></td>
                <td th:text="${s.animalName}"></td>
                <td th:text="${s.hospitalName}"></td>
                <td th:text="${s.doctorName}"></td>
                <td th:text="${s.medicalAppointmentDate}"></td>
                <td th:text="${s.medicalAppointmentStatus}"></td>
                <td>
                    <a th:if="${s.medicalAppointmentStatus.name() == 'COMPLETE'}"
                       href="#" th:href="@{/usr/mypage/member/medical-appoint/medical-appointment-info/{medicalAppointmentId}/edit (id=${s.medicalAppointmentId})}"
                       class="btn btn-primary" role="button">MODIFY</a>
                </td>
                <td>
                    <a th:if="${s.medicalAppointmentStatus.name() == 'COMPLETE'}" href="#" th:href="'javascript:cancel('+${s.medicalAppointmentId}+')'"
                       class="btn btn-danger">CANCEL</a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
<script>
    function cancel(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/usr/mypage/member/medical-appointment/medical-appointment-info/" + id + "/cancel");
        document.body.appendChild(form);
        form.submit();
    }
</script>


</html>
