<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="global/fragments/header :: header" />

<body>
<div class="container">

    <div th:replace="global/fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/usr/mypage/member/appointment" method="post">
        <div class="form-group">
            <label>회원이름</label>
            <input name="memberDtoId" id="memberDto" th:value="${memberDto.name}" class="form-control"/>

            </input>
        </div>

        <div class="form-group">
            <label for="animalDtos">애완동물이름</label>
            <select name="animalDtosId" id="animalDtos" class="form-control">
                <option value="">애완동물 선택</option>
                <option th:each="animalDto : ${animalDtos}"
                        th:value="${animalDto.id}"
                        th:text="${animalDto.name}"/>
            </select>
        </div>

        <div class="form-group">
            <label for="hospitalDtos">병원이름</label>
            <select name="hospitalDtosId" id="hospitalDtos" class="form-control">
                <option value="">병원선택</option>
                <option th:each="hospitalDto : ${hospitalDtos}"
                        th:value="${hospitalDto.id}"
                        th:text="${hospitalDto.name}" />
            </select>
        </div>

        <div class="form-group">
            <label for="doctorDtos">의사이름</label>
            <select name="doctorDtosId" id="doctorDtos" class="form-control">
                <option value="">의사선택</option>
                <option th:each="doctorDto : ${doctorDtos}"
                        th:value="${doctorDto.id}"
                        th:text="${doctorDto.name}" />
            </select>
        </div>

        <div class="form-group">
            <label>예약날짜</label>
            <input name="inputDateId" id="input_date" type="datetime-local" class="form-control form-control-sm"/>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>

    <div th:replace="global/fragments/footer :: footer" />
</div> <!-- /container -->

</body>

</html>
