<html layout:decorate="~{global/no-navbars-layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-0">

    <body>

    <div class="container">
        <div class="page-header">
            <h3>예약내역</h3>
        </div>

        <div>

<!--            수정 필요 -->
<!--            <div>-->
<!--                <form th:object="${appointmentSearch}" class="form-inline">-->
<!--                    <div class="form-group mb-2">-->
<!--                        <input type="text" th:field="*{memberName}" class="form-control" placeholder="회원명"/>-->
<!--                    </div>-->
<!--                    <div class="form-group mx-sm-1 mb-2">-->
<!--                        <select th:field="*{status}" class="form-control">-->
<!--                            <option value="">주문상태</option>-->
<!--                            <option th:each="status : ${T(com.codelion.animalcare.domain.appointment.AppointmentStatus).values()}"-->
<!--                                    th:value="${status}"-->
<!--                                    th:text="${status}">option-->
<!--                            </option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <button type="submit" class="btn btn-primary mb-2">검색</button>-->
<!--                </form>-->
<!--            </div>-->



            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>회원</th>
                    <th>애완동물</th>
                    <th>병원</th>
                    <th>닥터</th>
                    <th>예약 날짜</th>
                    <th>진료 상태</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ad : ${appointmentDto}">
                    <td th:text="${ad.appointmentId}"></td>
                    <td th:text="${ad.memberName}"></td>
                    <td th:text="${ad.animalName}"></td>
                    <td th:text="${ad.hospitalName}"></td>
                    <td th:text="${ad.doctorName}"></td>
                    <td th:text="${ad.date}"></td>
                    <td th:text="${ad.status}"></td>


                    <td>
                        <a href="#" th:if="${ad.status.name() == 'READY'}" th:href="@{/usr/doctor/medicalOffice/{appointmentId} (appointmentId=${ad.appointmentId})}" class="btn btn-primary" role="button">진단서 작성</a>
                        <button th:if="${ad.status.name() == 'COMPLETE'}" disabled type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">진단서 작성 완료</button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div> <!-- /container -->

    </body>

</div>
</html>