<html layout:decorate="~{global/layout}" xmlns:display="http://www.w3.org/1999/xhtml" xmlns="">

<div layout:fragment="content" class="container my-5">
    <body>

    <div class="container">
        <div class="page-header">
            <h3>예약내역 수정하기</h3>
        </div>

        <form role="form" th:object="${appointmentModifyDto}" th:method="post" >

            <div id="hide" style="display:none">
            <input name="appointmentId" id="appointment"
                   th:value="*{appointmentId}" />
            </div>

            <div class="form-group">
                <label>회원이름</label>
                <option th:text="${appointmentModifyDto.memberName}" class="form-control"/></option>
            </div>


            <div class="form-group">
                <label>애완동물이름</label>
                <option th:text="${appointmentModifyDto.animalName}" class="form-control"/></option>
            </div>

            <div class="form-group">
                <label>병원이름</label>
                <option th:text="${appointmentModifyDto.hospitalName}" class="form-control"/></option>
            </div>

            <div class="form-group">
                <label>의사이름</label>
                <option th:text="${appointmentModifyDto.doctorName}" class="form-control"/></option>
            </div>

            <div class="form-group">
                <label>예약날짜</label>
                <input name="inputDateId" id="input_date" type="datetime-local" th:value="${appointmentModifyDto.date}" class="form-control form-control-sm"/>

<!--                TODO 여러개 버튼으로 예약시간 볼 수 있게하기-->


            </div>

            <button type="submit" value="수정하기" class="btn btn-primary">Modify</button>
        </form>
        <br/>

    </div> <!-- /container -->

    </body>
</div>
</html>
